body {
    font-family: cursive;
    font-weight: 300;
    max-width: 900px;
    margin: 0 auto;
}

nav{
    width: 100%;
    height: 160px;
    margin: 0% auto;
    background-color: rgb(235, 180, 78, 0.883);
}

nav ul li{
    list-style: none;
    display: inline-block;

    transition: 0.8s all;
    padding: 18px 20px;
}

nav ul li:hover {
    background-color: #fff;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #140b0b;
}

a:active{
    color: #e26f0e;
}

.img-logo{
    width: 100px;
    padding-top: 30px;
    padding-left: 5%;
}

nav ul{
    padding-top: 90px;
    float: right;
}

.banner{
    max-width: 100%;
}

.factured{
    background-color: rgba(240, 193, 107, 0.616);
}

.fp-video{
    width: 55% ;
    padding: 2em ;
    overflow-y: visible;
}

.ft-articulo{
    width: 30%;
    padding: 2em;
    vertical-align: top;
}

article{
    padding: 30px;
    background-color: rgba(240, 220, 107, 0.883);
}

article h1{
    border-bottom: solid thin black;
}

.fp-video,
.ft-articulo {
    display: inline-block;
}

.boton-container{
    text-align: center;
    background-color: #ea6e39;
    margin:  0 auto ;
}

.boton-container a{
    text-decoration: none;
    color: #fff;
}

.boton {
    padding: 15px;
}
.boton-container:hover{
    background-color: #1fbea4;
}

.art-image img{
    max-width: 100%;
    margin: 0;
    top: -120px;
}

h2{
    border-bottom: solid thin black;
}

h3 {
    margin:0 ;
    border-bottom: solid thin black;
    text-align: left;
    right: 30px;
}

.footer{
    background-color: rgba(235, 180, 78, 0.883);
    color: rgba(31, 12, 134) ;
    clear: both ;
    line-height: 30px ;
    text-align: center ;
    padding: 45px ;
}
